<%- include('partials/head')%>

    <title>Home</title>
</head>
<body>
    <%- include('partials/navbar')%>
    <h1 class="text-center">Welcome to the home page of schedule app!</h1>
    
<%- include('partials/footer')%>