<%- include('partials/head')%>

    <title>Create a new User</title>
</head>
<body>
    <%- include('partials/navbar')%>
    <h1 class="text-center">Create a new User</h1>
    <div class="container">
      <form action="/users" method="POST" id="create-user-form" novalidate>
        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="email">
          <div id="email" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>

      <!-- form validation js script -->
      <script type="module" src="/user-new-validation.js"></script>
<%- include('partials/footer')%>